body{
    background-color: #aac0c5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #09080C;
}

h2, h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: #646083;
}

a:hover{
    color: #ff9100;
    font-weight: bolder;
    transition: .5s;
}

.navbar{
    float: left;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    margin-left: 1em;
    padding: .75em;
    background-color: #adaac5;
    border: 3px solid #646083;
    border-radius: 8px;
}

.navbar .link{
    margin: 1em;
}

.bottomLink{
    padding-bottom: .5em;
}

.content{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

figure{
    text-align: center;
    background-color: #aac5af;
    border-radius: 8px;
    padding: .5em;
    border: 3px solid #778745;
    box-shadow: 4px 4px rgba(0,0,0,0.2);
}

.footer{
    position: fixed;
    bottom: 0;
    width: 98vw;
}

.footer a{
    float: right;
    margin-right: 1em;
}

.link{
    font-size: 2em;
    padding-top: 1em;
}

.logo{
    border-radius: 75px;
}

.active{
    color: #778745;
    text-shadow: 2px 2px #304100;
}

#options{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

h3{
    margin-left: 1em;
}

select{
    height: 20px;
    margin-top: 20px;
}

#flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2em;
}

#flex img{
    width: 50%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

#about{
    margin: 1em auto;
}

li{
    font-size: 2em;
    padding-top: .7em;
}

#review{
    width: 50%;
    background-color: #aac5af;
    border-radius: 8px;
    border: 3px solid #778745;
    margin-top: 4em;
}